<!DOCTYPE html>
<html>
    <head><title>Home</title>
        <link type="text/css" rel="stylesheet" href="{{url_for("static",filename="css/bootstrap.css")}}">
        <link type="text/css" rel="stylesheet" href="{{url_for("static",filename="css/ex.css")}}">

    </head>
    <body>
        <h1>this is about page</h1>
        <div class="table">
        <div class="row">
            <div class="col">
                <h2>tiffen</h2>
                
            </div>
            <div class="col">
                <h2>lunch</h2>
            </div>
            <div class="col">
                <h2>dinner</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>dosa</h2>
                <div class="btn btn-primary" onclick="x()">
                    click me
                </div>
            </div>
            <div class="col">
                <h2>biriyani</h2>
                <div class="btn btn-primary" onclick="x()">
                    click me
                </div>
            </div>
            <div class="col">
                <h2>idly</h2>
                <div class="btn btn-primary" onclick="x()">
                    click me
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>pongal</h2>
                <div class="btn btn-primary" onclick="x()">
                    click me
                </div>
            </div>
            <div class="col">
                <h2>meals</h2>
                <div class="btn btn-primary" onclick="x()">
                    click me
                </div>
            </div>
            <div class="col">
                <h2>poori</h2> <div class="btn btn-primary" onclick="x()">
                    click me
                </div>
               
            </div>
        </div>
        </div>
        <div class="btn btn-primary" onclick="x()">
            click me
        </div>
        <script src="{{url_for("static",filename="js/script.js")}}"></script>

    </body>



</html>